body {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.u-section-1 {
  background-image: url("/zeszytKonsoleObiektowe/images/fonfoto.jpg");
  background-position: 28.23% 1.41%;
  background-size: auto 190%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 6.875rem;
  line-height: 1;
  text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  font-weight: 700;
  margin: 260px 526px 60px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 22.6% 1.27%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-top: 219px;
    margin-right: 270px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin: 227px 264px 49px 99px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 20.01% 0%;
    background-size: auto 185%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    margin: 239px 0 60px 63px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 23% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 398px;
    margin-right: -50px;
    margin-left: 50px;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 294px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(128, 128, 128, 1);
  width: 337px;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1100px;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 206px;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 7px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 11px auto 0 50px;
  padding: 5px 1px 7px 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -43px auto 0 332px;
  padding: 5px 5px 7px 4px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -47px auto 0 588px;
  padding: 5px 16px 7px 15px;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -51px auto 0 899px;
  padding: 5px 0 7px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 7px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 11px auto 0 50px;
  padding: 5px 1px 7px 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -43px auto 0 332px;
  padding: 5px 5px 7px 4px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -47px auto 0 588px;
  padding: 5px 16px 7px 15px;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -51px auto 0 899px;
  padding: 5px 0 7px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 7px;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 11px auto 0 50px;
  padding: 5px 1px 7px 0;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -43px auto 0 332px;
  padding: 5px 5px 7px 4px;
}

.u-section-2 .u-btn-11 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -47px auto 0 588px;
  padding: 5px 16px 7px 15px;
}

.u-section-2 .u-btn-12 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: -51px auto 0 899px;
  padding: 5px 0 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 196px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-left: 20px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -47px;
    margin-left: 263px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -43px;
    margin-left: 513px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 770px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 0;
    margin-left: 20px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -47px;
    margin-left: 263px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -43px;
    margin-left: 513px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 770px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 0;
    margin-left: 20px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -47px;
    margin-left: 263px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -43px;
    margin-left: 513px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 770px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    padding-right: 2px;
    padding-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 168px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -47px;
    margin-left: 358px;
    padding-right: 9px;
    padding-left: 9px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -47px;
    margin-left: 541px;
    padding-right: 5px;
    padding-left: 4px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
    padding-right: 2px;
    padding-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 168px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -47px;
    margin-left: 358px;
    padding-right: 9px;
    padding-left: 9px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -47px;
    margin-left: 541px;
    padding-right: 5px;
    padding-left: 4px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 0;
    padding-right: 2px;
    padding-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 168px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -47px;
    margin-left: 358px;
    padding-right: 9px;
    padding-left: 9px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -47px;
    margin-left: 541px;
    padding-right: 5px;
    padding-left: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 430px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 7px;
    margin-left: 10px;
    padding-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 384px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 20px;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 7px;
    margin-left: 10px;
    padding-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 384px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 20px;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 7px;
    margin-left: 10px;
    padding-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 384px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 20px;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 320px;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 12px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 6px;
    margin-left: 12px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -100px;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 6px;
    margin-right: 12px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 12px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 6px;
    margin-left: 12px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -100px;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 6px;
    margin-right: 12px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 12px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 6px;
    margin-left: 12px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -100px;
    margin-left: 187px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 6px;
    margin-right: 12px;
  }
}

.u-section-3 .u-sheet-1 {
  min-height: 291px;
}

.u-section-3 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(128, 128, 128, 1);
  font-size: 1.875rem;
  font-weight: 700;
  width: 720px;
  margin: 20px auto 0;
}

.u-section-3 .u-group-1 {
  width: 1100px;
  height: auto;
  min-height: 183px;
  margin: 21px auto 20px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 19px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    margin-top: 23px;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 247px;
    margin-bottom: 19px;
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 1px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 535px;
    margin-top: 10px;
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-4 .u-sheet-1 {
  min-height: 373px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-group-1 {
  width: 1100px;
  height: auto;
  min-height: 265px;
  margin: 24px auto 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 16px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-4 .u-group-1 {
    width: 940px;
    margin-top: 25px;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
    min-height: 375px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    min-height: 631px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-5 .u-sheet-1 {
  min-height: 534px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
  margin: 21px 427px 0 auto;
}

.u-section-5 .u-gallery-1 {
  height: 440px;
  width: 1100px;
  margin: 21px auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-1 {
  transition-duration: 1s;
}

.u-section-5 .u-back-image-1 {
  object-position: 50% 30.9%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-2 {
  transition-duration: 1s;
}

.u-section-5 .u-back-image-2 {
  object-position: 50% 94.61%;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  width: 50px;
  height: 50px;
  inset: auto auto 20px 20px;
  padding: 9px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  inset: auto 20px 20px auto;
  padding: 9px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-5 .u-text-1 {
    width: 305px;
    margin-right: auto;
  }

  .u-section-5 .u-gallery-1 {
    width: 940px;
    margin-bottom: 54px;
  }

  .u-section-5 .u-back-image-1 {
    bottom: -50px;
  }

  .u-section-5 .u-back-image-2 {
    bottom: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -68px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-gallery-1 {
    height: 520px;
    width: 440px;
    margin: 30px -50px 60px;
  }

  .u-section-5 .u-back-image-1 {
    object-position: 93.26% 30.9%;
  }

  .u-section-5 .u-back-image-2 {
    object-position: 0% 94.61%;
  }
}

.u-section-6 .u-sheet-1 {
  min-height: 224px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
  margin: 20px 0 0;
}

.u-section-6 .u-group-1 {
  width: 1100px;
  height: auto;
  min-height: 122px;
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  margin: 20px auto 29px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 13px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-6 .u-text-1 {
    width: 166px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-group-1 {
    margin-top: 30px;
    margin-bottom: 46px;
    min-height: 144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 30px;
    min-height: 208px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -26px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 30px;
    margin-bottom: 46px;
    min-height: 336px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-7 .u-sheet-1 {
  min-height: 528px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1100px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 538px;
  background-image: linear-gradient(#90ee90, #4dff00);
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 -1px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 538px;
  background-image: linear-gradient(#4dff00, #90ee90);
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  padding: 30px 24px 33px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 0 0 12px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 538px;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#90ee90, #4dff00);
}

.u-section-7 .u-container-layout-3 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  transition-duration: 3.25s;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  margin: 0 -1px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 460px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 424px;
  }
}

.u-section-7 .u-text-3,
.u-section-7 .u-text-3:before,
.u-section-7 .u-text-3>.u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-text-3.u-text-3.u-text-3:hover {
  color: #000000 !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.u-section-7 .u-text-3 {
  border-color: transparent !important;
}

.u-section-7 .u-text-3.u-text-3.u-text-3.hover {
  color: #000000 !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.u-section-7 .u-text-3 {
  border-color: transparent !important;
}

.u-section-7 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-layout-cell-3,
.u-section-7 .u-layout-cell-3:before,
.u-section-7 .u-layout-cell-3>.u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-container-layout:hover .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-sheet-1 {
  min-height: 629px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
  margin: 50px auto 0;
}

.u-section-8 .u-form-1 {
  height: 535px;
  width: 1100px;
  margin: 0 auto 11px;
}

.u-section-8 .u-label-1 {
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-8 .u-input-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-label-2 {
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-8 .u-input-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-label-3 {
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-8 .u-input-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  border-style: solid;
  font-style: italic;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-8 .u-form-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 10px;
    margin-bottom: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 0;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-form-1 {
    margin-bottom: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}
